<style>
    tr:hover {background-color: #9dc766;}
    td, th {text-align: center;}
    table, td, th {border: 1px solid black;}
    table {border-collapse: collapse;width: 100%;}
    th {text-align: center;}
</style>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">  
<p style="text-align:center"><a href="/enterprise">Home</a> <a href="/enterprise/techniques">Techniques</a> <a href="/enterprise/tactics">Tactics</a> <a href="/enterprise/groups">Groups</a> <a href="/enterprise/datasources">Datasources</a> <a href="/enterprise/software">Software</a> <a href="/enterprise/data-component">Data-Components</a> <a href="/car">MITRE CAR</a></p>
{% block content %}
{% endblock content %}