{% extends "base.html" %}
{% block content %}
{% if type == 'technique' %}
<h1>{{ ttp['technique'] }}</h1>
<h2>{{ ttp['name'] }}</h2>
<hr>
<p>Type: {{ ttp['type'] }}</p>
<p>Created on: {{ ttp['created'] }}</p>
<p>Modified on: {{ ttp['modified'] }}</p>
<p>Is Sub-technique: {{ ttp['is_subtechnique'] }}</p>
<h3>Description</h3>
<p>{{ ttp['description'] }}</p>
<hr>
<h3>Kill Chain</h3>
<ol>
    {% for kc in ttp['kill_chain'] %}
        {% for key, value in kc.items() %}    
        <p>{{ key }}: {{ value }}</p>
        {% endfor %}
    {% endfor %}
</ol>
<h3>Detection Methods</h3>
<p>{{ ttp['detection'] }}</p>
<h3>Data Sources</h3>
{% if multiple_data_sources %}
<ol>
    {% for ds in ttp['data_sources'] %}
    <p><a href="/enterprise/data-component/{{ttp['mapped_dc'][ds]}}">{{ ds }}</a></p>
    {% if ttp['mapped_log'][ds] != 'Not Mapped' %}
    <ul><li><p>Logs: {{ ttp['mapped_log'][ds]}}</p></li></ul>
    {% endif %}
    <p></p>
    {% endfor %}
</ol>
{% else %}
<p>{{ ttp['data_sources'] }}</p>
{% endif %}
<h3>Platforms</h3>
<ol>
    {% for p in ttp['platforms'] %}
    <p>{{ p }}</p>
    {% endfor %}
</ol>
<h3>Domains</h3>
<ol>
    {% for dm in ttp['domains'] %}
    <p>{{ dm }}</p>
    {% endfor %}
</ol>
{% if ttp['analytics']['analytics_found'] %}
<hr>
<h3>Analytics: </h3>
<hr>
{% for analytic in ttp['analytics']['analytics'] %}
<h4>{{ analytic['name'] }}</h4>
<h5>Description</h5>
<p>{{ analytic['description'] }}</p>
<hr>
<p>Psuedocode implementation type: {{ analytic['implementation'] }}</p>
<h5>Psuedocode</h5>
{% for line in analytic['psuedocode'] %}
<p>{{ line }}</p>
{% endfor %}
<hr>
{% endfor %}
{% endif %}
{% if no_ext_ref > 0 %}
<h3>External Intel</h3>
{% for ref in ttp['external_ref'] %}
{% for key, value in ref.items() %}
<p><a href="{{ value }}">{{ key }}</a></p>
{% endfor %}
{% endfor %}
{% endif %}


{% elif type == 'datasource' %}
<h1>{{ ds['datasource'] }}</h1>
<h2>{{ ds['name'] }}</h2>
<hr>
<p>Type: {{ ds['type'] }}</p>
<p>Created on: {{ ds['created'] }}</p>
<p>Modified on: {{ ds['modified'] }}</p>
<h3>Description</h3>
<p>{{ ds['description'] }}</p>
<hr>
<h3>Sources</h3>
<ul>
{% for s in ds['source'] %}
    <li>{{ s }}</li>
{% endfor %}
</ul>

{% elif type == 'group' %}
<h1>{{ group['group'] }}</h1>
<h2>{{ group['name'] }}</h2>
<hr>
<p>Type: {{ group['type'] }}</p>
<p>Created on: {{ group['created'] }}</p>
<p>Modified on: {{ group['modified'] }}</p>
<hr>
<h3>Aliases</h3>
<ul>
{% for a in group['aliases'] %}
    <li>{{ a }}</li>
{% endfor %}
</ul>
<h3>Domains</h3>
<ul>
{% for d in group['domains'] %}
    <li>{{ d }}</li>
{% endfor %}
</ul>

{% elif type == 'software' %}
<h1>{{ software['software'] }}</h1>
<h2>{{ software['name'] }}</h2>
<hr>
<p>Type: {{ software['type'] }}</p>
<p>Created on: {{ software['created'] }}</p>
<p>Modified on: {{ software['modified'] }}</p>
<hr>
<h3>Description</h3>
<p>{{ software['description'] }}</p>
<h3>Aliases</h3>
<p>{{ software['aliases'] }}</p>
<h3>Domains</h3>
<ul>
{% for d in software['domains'] %}
    <li>{{ d }}</li>
{% endfor %}
</ul>

{% elif type == 'datacomponent' %}
<h1>{{ dc['name'] }}</h1>
<hr>
<p>Type: {{ dc['type'] }}</p>
<p>Created on: {{ dc['created'] }}</p>
<p>Modified on: {{ dc['modified'] }}</p>
<hr>
<h3>Description</h3>
<p>{{ dc['description'] }}</p>

{% endif %}
{% endblock %}