{% extends "base.html" %}
{% block content %}
<head>
    <style>
        #pagination-demo li {  display: inline-block;  }  
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">  
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#search_mitre").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#tbody tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
    </script>
</head>
<div class="page">
{% if type == 'technique' %}
<p>Search and filter techniques below:</p>  
<input id="search_mitre" type="text" placeholder="powershell">
<br><br>
<table class="technique">
    <thead>
        <tr>
            <th>Technique</th>
            <th>Name</th>
            <th>Modified</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody id="tbody">
        {% for ttp in ttps %}
        <tr>
            <td><a href="/enterprise/techniques/{{ ttp['technique'] }}">{{ ttp['technique'] }}</a></td>
            <td>{{ ttp['name'] }}</td>
            <td>{{ ttp['modified'] }}</td>
            <td>{{ ttp['type'] }}</td>
            <td hidden="hidden">{{ ttp['description'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% elif type == 'datasource' %}
<p>Search and filter datasources below:</p>  
<input id="search_mitre" type="text" placeholder="active directory">
<br><br>
<table class="datasource">
    <thead>
        <tr>
            <th>Datasource</th>
            <th>Name</th>
            <th>Modified</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody id="tbody">
        {% for ds in datasources %}
        <tr>
            <td><a href="/enterprise/datasources/{{ ds['datasource'] }}">{{ ds['datasource'] }}</a></td>
            <td>{{ ds['name'] }}</td>
            <td>{{ ds['modified'] }}</td>
            <td>{{ ds['type'] }}</td>
            <td hidden="hidden"> {{ ds['description'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% elif type == 'group' %}
<p>Search and filter groups below:</p>  
<input id="search_mitre" type="text" placeholder="apt28">
<br><br>
<table class="groups">
    <thead>
        <tr>
            <th>Group</th>
            <th>Name</th>
            <th>Aliases</th>
            <th>Modified</th>
        </tr>
    </thead>
    <tbody id="tbody">
        {% for group in groups %}
        <tr>
            <td><a href="/enterprise/groups/{{ group['group'] }}">{{ group['group'] }}</a></td>
            <td>{{ group['name'] }}</td>
            <td>{{ group['aliases'] }}</td>
            <td>{{ group['modified'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% elif type == 'software' %}
<p>Search and filter software below:</p>  
<input id="search_mitre" type="text" placeholder="mimikatz">
<br><br>
<table class="software">
    <thead>
        <tr>
            <th>Software</th>
            <th>Name</th>
            <th>Labels</th>
            <th>Modified</th>
        </tr>
    </thead>
    <tbody id="tbody">
        {% for sw in softwares %}
        <tr>
            <td><a href="/enterprise/software/{{ sw['software'] }}">{{ sw['software'] }}</a></td>
            <td>{{ sw['name'] }}</td>
            <td>{{ sw['labels'] }}</td>
            <td>{{ sw['modified'] }}</td>
            <td hidden="hidden"> {{ sw['description'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% elif type == 'datacomponent' %}
<p>Search and filter data-components below:</p>  
<input id="search_mitre" type="text" placeholder="signatures">
<br><br>
<table class="datacomponent">
    <thead>
        <tr>
            <th>Component</th>
            <th>Created</th>
            <th>Modified</th>
        </tr>
    </thead>
    <tbody id="tbody">
        {% for dc in dcs %}
        <tr>
            <td><a href="/enterprise/data-component/{{ dc['ref'] }}">{{ dc['name'] }}</a></td>
            <td>{{ dc['created'] }}</td>
            <td>{{ dc['modified'] }}</td>
            <td hidden="hidden"> {{ dc['description'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% elif type == 'car-analytic' %}
<p>Search and filter CAR analytics below:</p>  
<input id="search_mitre" type="text" placeholder="eql">
<br><br>
<table class="car">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Analytic Types</th>
            <th>Submission Date</th>
        </tr>
    </thead>
    <tbody id="tbody">
        {% for a in analytics %}
        <tr>
            <td><a href="/car/{{ a['id'] }}">{{ a['id'] }}</a></td>
            <td>{{ a['title'] }}</td>
            <td>
                <ul>
                    {% for atype in a['analytic_types'] %}
                    <li>{{ atype }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>{{ a['submission_date'] }}</td>
            <td hidden="hidden"> {{ a['description'] }}</td>
            <td hidden="hidden"> {{ a['implementations'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% elif type == 'tactic' %}
<table class="tactic">
<p>Search and filter tactics below:</p>  
<input id="search_mitre" type="text" placeholder="destroy">
<br><br>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Modified</th>
        </tr>
    </thead>
    <tbody id="tbody">
        {% for t in tactics %}
        <tr>
            <td><a href="/enterprise/tactics/{{ t['tactic'] }}">{{ t['tactic'] }}</a></td>
            <td>{{ t['name'] }}</td>
            <td>{{ t['modified'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% elif type == 'enterprise' %}
<table>
    <thead>
        <tr>
            <th>Field</th>
            <th>Records</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for e in e_list %}
        <tr>
            {% if e['field'] == 'car' %}
            <td><a href="/{{ e['field'] }}">{{ e['field'] }}</a></td>
            {% else %}
            <td><a href="/enterprise/{{ e['field'] }}">{{ e['field'] }}</a></td>
            {% endif %}
            <td>{{ e['count'] }}</td>
            <td>{{ e['description'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endif %}
</div>
{% endblock %}